*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.card1{
width:400px;
height:550px;
border:2px solid red;
border-radius:30px;
margin:50px;
box-shadow: 10px 10px 37px 0px rgba(153,38,153,1);
position:relative;
left:30%;
}

.card1-header{
position:relative;

}

#background-color{
width:100%;
height:300px;
background-color:red;
position:absolute;
border-radius:25px;
border-bottom:4px solid #9f2d7f;
}

#card-img-bottom{
width:100px;
height:100px;
border-radius:50%;
position:absolute;
bottom: -320px;
right: 150px;
border:3px solid white;
}


.card-body{
position:relative;
}

#person-name{
position:absolute;
bottom: -369px;
left: 93px;
text-transform:capitalize;
}

#person-designation{
    position:absolute;
    bottom: -397px;
    left: 118px;
    text-transform:capitalize;
}

.linebreak{
    position: relative;
    border: none;
    height: 3px;
    width:300px;
    background-color: red;
    bottom: -412px;
    margin:0 40px;
    }

    .line{
        position:absolute;

     }

#description{
    position:absolute;
    bottom: -468px;
    left: 62px;
}

.icons{
    position:relative;
    }

.bi-instagram{
    position:absolute;
    top:500px;
    left:150px;
    background-color: red;
    height:16px;
    width:16px;
    border-radius: 10px;
    color:white; 
    }

    .bi-twitter-x{
        position:absolute;
    top:500px;
    left:180px;
    background-color: red;
    height:15px;
    width:15px;
    border-radius: 10px;
    color:white; 
}

    .bi-facebook{
        position:absolute;
    top:500px;
    left:210px;
    background-color: red;
    height:15px;
    width:16px;
    border-radius: 10px;
    color:white; 
}